<div
hx-target="this"
hx-swap="outerHTML"
  class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <form class="max-w-sm">
    <div
      class="block max-w-xl p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 mb-5"
    >
      <input
        value="{{post.title}}"
        type="text"
        name="title"
        id=""
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      />
      <textarea
        cols="30"
        rows="10"
        class="font-normal text-gray-700 dark:text-gray-400"
        name="content"
      >{{ post.content}}</textarea>
    </div>
    <button
      type="button"
      hx-put="{{ url_for('post_edit', post_id=post.id)}}"
      class="ml-12 focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
    >
      Submit
    </button>
    <button
      type="button"
      hx-get="{{ url_for('post_view', post_id=post.id ) }}"
      class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
    >
      Cancel
    </button>
    <button
      type="button"
      hx-delete="{{ url_for('post_delete', post_id=post.id ) }}"
      hx-confirm="Are you sure?"
      class="focus:outline-none text-dark bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900"
    >
      Delete
    </button>
  </form>
</div>
